<% title_actions link_to("New authentication source", new_auth_source_ovirt) %>
<% title "Authentication source configuration" %>
<div id="welcome">
  <p> Foreman can use oVirt based service for user information and authentication.<p>

  <p> The authentication process currently requires an oVirt engine.</p>
</div>

